<div id={{this.id}} class="cs-data-table-searchbar">
  <span id={{this.tooltipId}} title={{this.tooltip}}>(i)</span>
  <input
    type="text"
    value={{@value}}
    {{on "keyup" (pick "target.value" this.search)}}
    aria-labelledby={{this.tooltipId}}
  />
  {{#if @value}}
    <button type="button" {{on "click" this.clear}}>X</button>
  {{/if}}
</div>