<h3>Financial data</h3>

<CsDataTable @columns={{this.columns}} @data={{this.data}} as |table|>
  <table.row as |row|>
    <row.cell @key="id" as |item|>{{item.id}}</row.cell>
    <row.cell @key="name" as |item|>{{item.name}}</row.cell>
    <row.cell @key="amount" as |item|>{{item.amount}}</row.cell>
    <row.cell @key="email" as |item|>{{item.email}}</row.cell>
    <row.cell @key="creditCardIssuer" as |item|>{{item.creditCardIssuer}}</row.cell>
    <row.cell @key="creditCardNumber" as |item|>{{item.creditCardNumber}}</row.cell>
    <row.cell @key="actions" class="center" as |item|><button type="button" {{on 'click' (fn this.showSecretData item)}}>Show</button></row.cell>
  </table.row>
</CsDataTable>