{{#if (or (not @column.hidden) @isCustomizingColumns)}}
  <th data-test-header-cell-index={{@index}}>
    {{#if @isCustomizingColumns}}
      <div class="cs-data-table-columns-customization">
        {{#unless @first}}
          <button
            title="Move column to the left"
            type="button"
            {{on "click" (fn @onMove @column (dec @index))}}
            data-test-header-cell-move-left
          >
            &#60;
          </button>
        {{/unless}}
        <input
          aria-label={{this.visibilityTooltip}}
          type="checkbox"
          checked={{not @column.hidden}}
          {{on "change" (fn @onToggleVisibility (not @column.hidden))}}
          data-test-header-cell-visibility-checkbox
        />
        {{#unless @last}}
          <button
            title="Move column to the right"
            type="button"
            {{on "click" (fn @onMove @column (inc @index))}}
            data-test-header-cell-move-right
          >
            &#62;
          </button>
        {{/unless}}
      </div>
    {{/if}}
    {{@column.label}}
  </th>
{{/if}}